.p-description{
  height: 100px;
  overflow-y: scroll;
}
#livre-card{
  border: 1px solid lightgoldenrodyellow;
}
#card-footer{
  border-top: 1px solid lightgoldenrodyellow;
}
#card-img{
  width: 90px;
  height: 150px;
}

h1{
  font-size: 60px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-card{
  font-size: 14px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#btn-details{
  font-size: 20px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
}

h3{
  font-size: 18px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px double lightgoldenrodyellow;
}

nav a{
  font-weight: bold!important;
  font-size: 20px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#h3-details{
  font-size: 30px!important;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px double lightgoldenrodyellow;
}
#img-details{
  width: 200px;
}





